:root {
  --primary-color: #fcfcfc;
  --secondary-color: rgba(0, 0, 0, 0.4);
  --text-color: #fff;
  --text-secondary-color: #1f1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(20, 30, 49) 60%, rgb(35, 57, 84) 98%);
}

.navbar {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 2.2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.8rem;
  list-style: none;
}

.navbar-logo:hover,
.navbar-link:hover {
  opacity: 0.8;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

#banner-container {
  padding: 80px 0;
  padding-top: 170px;

  background: linear-gradient(
    90deg,
    rgba(20, 30, 49, 1) 60%,
    rgba(35, 57, 84, 1) 98%
  );
}

#banner-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: -2px -2px 2px rgb(35, 57, 84);
}

.banner-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info-container h1,
.info-container p {
  color: var(--text-color);
}

.info-container h1 {
  font-size: 3rem;
}

.info-container p {
  font-size: 2rem;
}

.media-container {
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
}

.media-container a i {
  font-size: 3rem;
}

#about-container {
  padding: 140px 0;
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#about-container h2,
#projects-container h2 {
  color: var(--text-secondary-color);
  font-size: 3rem;
  margin-bottom: 1rem;
}

#about-container p {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

#projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

#projects-container h2 {
  text-align: center;
}

.projects-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin: 2rem 0;
  padding: 0 2rem;
}

.project img {
  width: 520px;
  box-shadow: -1px 1px 2px 2px #ccc;
}

.project-info {
  margin-top: 1rem;
  width: 220px;
}

.project-info h4 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.project-info ul {
  list-style: inside;
}

.project-info ul li {
  margin-bottom: 1rem;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.action-buttons a {
  color: var(--text-color);
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(35, 57, 84);
  transition: 0.3s;
}

.action-buttons a:hover {
  background-color: rgb(20, 30, 49, 1);
}

#footer {
  height: 200px;
  background: linear-gradient(90deg, rgb(20, 30, 49) 60%, rgb(35, 57, 84) 98%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer p {
  color: var(--text-color);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-menu {
    position: fixed;
    left: -100%;
    top: 9rem;
    gap: 0;
    flex-direction: column;
    background: linear-gradient(
      90deg,
      rgb(20, 30, 49) 60%,
      rgb(35, 57, 84) 98%
    );
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navbar-item {
    margin: 1.6rem 0;
  }

  .navbar-item:last-child {
    margin-bottom: 2.6rem;
  }

  .navbar-menu.active {
    left: 0;
  }

  .banner-content {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  #about-container {
    width: 90%;
    margin: 0 auto;
  }

  #projects-container {
    width: 100%;
  }

  .project {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .project img {
    width: 100%;
  }

  .project-info {
    align-self: flex-start;
    width: 100%;
  }
}
